{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python/Django Template</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- where all other content will go when this template is extended to other files -->

    <header>
            <h1><a href="{% url 'profile' %}">Benjamin Jack Pitts</a></h1>
            <h2>Musician</h2>
          </header><br><br>

{% block content %}{% endblock %}

    <footer>
    <h3>Built by: <a href='https://benjaminjackpitts.dev/'>Benjamin Jack Pitts </a> 2021</h3></footer>


</body>
</html>
