{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benjamin Jack Pitts | Musician</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap" rel="stylesheet">
</head>
<body>

    <!-- where all other content will go when this template is extended to other files -->

    <header>
            <h1 class='name'><a href="{% url 'profile' %}" id='plain'>Benjamin Jack Pitts</a></h1>
        <div class='container'>
          <div class='profile'>
            <a href="{% url 'profile' %}">Home</a>
          </div>
          <div class='profile'>
            <a href="{% url 'about' %}">About</a>
          </div>
          <div class='profile'>
            <a href="{% url 'portfolio' %}">Portfolio</a>
          </div>
          <div class='profile'>
            <a href="{% url 'contact' %}">Contact</a>
          </div>
        </div>
    </header><br>

{% block content %}{% endblock %}

    <footer>
    <h4>Built by: <a href='https://benjaminjackpitts.dev/' target='_blank'> Benjamin Jack Pitts </a> 2021</h4></footer>

    <script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>


</body>
</html>
