<!-- including the base.html as a boilerplate -->
{% extends 'contacts/base.html' %} {% block content %}
<!-- contact list content -->
<div class='main'>
<h2><a href="{% url 'contact_create' %}">Create New Band Profile</a></h2>
<div class='list'>
<ul>
  {% for contact in contacts %}
  <li>
    <a href="{% url 'contact_detail' pk=contact.pk %}">{{ contact.name }}</a>
  </li>
  {% endfor %}
</ul>
</div>
<br><br>
<a href="{% url 'profile' %}">Back to Main</a><br><br><br><br><br>
</div>

{% endblock %}
