{% extends 'contacts/base.html' %} {% block content %}
<div class='main'>
  <h3>Published material that I have written, recorded, toured, and collaborated on:</h3>
  <br>
<div class='list'><br>
<ul>
  <li><a href='https://inthecompanyofserpentsdoom.bandcamp.com/album/lux' target='_blank'>In the Company of Serpents</a></li>
  <li><a href='https://nightwraith.bandcamp.com/' target='_blank'>NightWraith</a></li>
  <li><a href='https://falsecathedrals.bandcamp.com/' target='_blank'>False Cathedrals</a></li>
  <li><a href='https://ashfromsweatrecords.bandcamp.com/album/in-the-clearing' target='_blank'>To Be Eaten</a></li>
  <li><a href='https://vimanaofficial.bandcamp.com/album/the-collapse-ep' target='_blank'>Vimana</a></li>
  <li><a href='https://blacksleepofkali.bandcamp.com/album/whos-hearts-are-faint-within-you-ep' target='_blank'>Black Sleep of Kali</a></li>
  <li><a href='https://snappylittlenumbers.bandcamp.com/album/90s-rock' target='_blank'>ZZ Top Ramen</a></li>
  <li><a href='https://rottenness.bandcamp.com/album/dead-root-rottenness-split-2017' target='_blank'>Rottenness</a></li>
  <li><a href='https://ashfromsweatrecords.bandcamp.com/album/could-be-from-the-time-i-messed-with-texas' target='_blank'>Giant Eyeball</a></li>
  <li><a href='https://ashfromsweatrecords.bandcamp.com/' target='_blank'>Rocky's Red Rocket/Rivers Run Dry</a></li>
  
</ul><br>
</div><br>
<a href="{% url 'profile' %}">Back to Main</a><br> 
</div>

{% endblock %}