{% extends 'contacts/base.html' %} {% block content %}
<div class='main'>
<div class='about'>
<h4>I am a musician from Denver, CO and I have been highly active since 1998. I continue to write, collaborate, record, perform, tour, and publish music. I am available for consultation, session work, songwriting advice, and I would love to <a href="{% url 'contact' %}" id='plain-text'>hear</a> from you!</h4>
</div><br>
<img src='https://i.imgur.com/A7lHurv.jpg' alt='benjaminpitts' /><br>
<div class='profile'>
<h3>Guitar | Voice | Bass | Drums | Keys</h3>
</div>
</div><br>


{% endblock %}
